@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  overflow-x: hidden;
} */
[role="treeitem"] {
  padding-left: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 400;
  user-select: none;
  /* @apply truncate; */
}
[role="treeitem"]:hover {
  @apply bg-neutral-focus;
}

[role="treeitem"][aria-selected="true"]:focus {
  @apply bg-neutral-focus;
}

.folder {
  display: flex;
  border-width: 0px;
  text-transform: none;
  position: relative;
  border-radius: 0 var(--rounded-btn, 0.5rem) var(--rounded-btn, 0.5rem)
    var(--rounded-btn, 0.5rem);
  margin-top: 0.5rem;
  @apply bg-neutral;
}

.folder:before {
  content: "";
  width: 50%;
  height: 0.5rem;
  border-radius: var(--rounded-btn, 0.5rem) 0.25rem 0 0;
  position: absolute;
  top: -0.5rem;
  left: 0px;
  @apply bg-neutral;
}
.folder:hover,
.folder:hover:before,
.folder:focus,
.folder:focus:before {
  @apply bg-neutral-focus;
}

.folder:after {
  content: "";
  width: 50%;
  height: 0.25rem;
  border-radius: 0 0 0 0.25rem;
  --tw-bg-opacity: 1;
  box-shadow: -5px 0 0 0 hsl(var(--n) / var(--tw-bg-opacity));
  position: absolute;
  top: -0.25rem;
  right: 0;
  color: none;
  background-color: none;
}

.folder:hover:after,
.folder:focus:after {
  box-shadow: -5px 0 0 0 hsl(var(--nf, var(--n)) / var(--tw-bg-opacity));
}
